---
	import Layout from "../layouts/Layout.astro";
	import Form from "../components/formRegister.astro";
---
<Layout title="ahmed" description="ali">
	<main>
		
	</main>
</Layout>

<!-- <style lang="scss">
	@import "../assets/sass/layouts/color.scss";
	@import "../assets/sass/helpers/mixin.scss";
	
</style> -->